.centrer
{
	text-align: center;
}


.justifier
{
	text-align: justify;
	/*text-shadow: 0 1px 0 #fff; 	*/
}

/*
.titre
{
	color:rgb(0, 38, 255);
	border: 3px blue solid;
	border-radius: 20px;
	box-shadow: 6px 6px 5px rgb(39, 23, 95);
	text-shadow:3px 3px 0px beige;
	text-align: center;
}
*/

/*
.titrecentre
{
	color:red;
	border: 3px blue solid;
	border-radius: 20px;
	box-shadow: 6px 6px 5px black;
	text-shadow:3px 3px 0px black;
	text-align: center;
}

*/

.droite
{
	text-align: right;
}

body {

	background: rgba(227, 229, 235, 0.808) ;

	/*background: rgba(172, 166, 166, 0.918); */
	/*color:rgb(10, 245, 61);
	background-color:rgb(128, 120, 120);
	background-image:url(images/work.jpg);
	background-attachment:fixed;
	/*background-repeat:no-repeat; /* image en haut et à gauche*/
	/*background-position:100% 0%; /* image en haut et à droite */
	}

.flottantdroit
{
	float: right;
}


/*.head
{
	background-image: url("images/binaire.jpg"); 
}
*/

/*
a
{
	color: #2A679F;
}
*/

/* You don't need the above styles, they are demo-specific ----------- */


#menu, #menu ul 
{
	margin: 0;
	padding: 0;
	list-style: none;
}

#menu :hover /* changer la couleur de la nav quand un éléùent est selectionnée*/
{
	background-color: #51c0ec;

}




#menu /* barre de la nav */
{
	width: 860px; 
	margin: 60px auto; /* le reglage automatique entre la nav et le body */
	/*border: 1px solid rgb(179, 16, 16); */ /*  la couleur de la bordure de la nav*/
	/*background-color: rgba(9, 29, 29, 0.425); /* pour la couleur du fond de la barre de la navigation principale */
	background-color: rgba(41, 100, 247, 0.911); /*NOUVEAU, COMME LA LIGNE PRRECEDENTE*/
	/*background-image: -moz-linear-gradient(#444, #111); 
	background-image: -webkit-gradient(linear, left top, left bottom, from(#444), to(#111)); 
	background-image: -webkit-linear-gradient(#444, #111);	
	background-image: -o-linear-gradient(#444, #111);
	background-image: -ms-linear-gradient(#444, #111);
	background-image: linear-gradient(#444, #111);
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-moz-box-shadow: 0 1px 1px #777, 0 1px 0 #666 inset;
	-webkit-box-shadow: 0 1px 1px #777, 0 1px 0 #666 inset;
	box-shadow: 0 1px 1px #777, 0 1px 0 #666 inset; */
}

#menu:before,
#menu:after 
{
	content: ""; 
	display: table; 
}

#menu:after 
{
	clear: both; 
}

#menu  /* zoom la barre de la nav*/
{
	zoom:1;

}

/*  ici, ça sert à découper la barre de navigation par des traits verticaux*/

#menu li 
{
	float: left;
	/*border-right: 1px solid #222;     */        
	-moz-box-shadow: 1px 0 0 #444;
	-webkit-box-shadow: 1px 0 0 #444;
	box-shadow: 1px 0 0 #444; 
	position: relative; 
	
}

/* ici ça sert à mettre en horizontale ou verticale la barre de navigation */
#menu a 
{
	float: left;
	padding: 12px 30px; /* la largeur de la nav*/
	color: white ; /* sert à colorer les écrits de la nav */
	text-transform: uppercase;
	/*font: bold 12px Arial, Helvetica; */
	/*font: bold 16px Helvetica; */ /* ça sert à changer la police et sa taille */
	text-decoration: none;
	/*text-shadow: 0 1px 0 #000; */
	text-shadow: none ; /*ça sert à mettre et enlever l'ombre dans le menu déroulant*/

}

#menu li:hover > a 
{
	color: #fafafa;
} 


html #menu li a:hover { /* IE6 only */
	color: #fafafa;
}

#menu ul 
{
	margin: 20px 0 0 0;
	_margin: 0; /*IE6 only*/
	/*opacity: 0; */
	visibility: hidden; 
	position: absolute;
	top: 38px;
	/*left: 0;*/
	/*z-index: 9999;    */
	/*background: #444;*/
	/*background: -moz-linear-gradient(#444, #111);*/
	/*background-image: -webkit-gradient(linear, left top, left bottom, from(#444), to(#111));*/
	/*background: -webkit-linear-gradient(#444, #111);  */  
	/*background: -o-linear-gradient(#444, #111);	*/
	/*background: -ms-linear-gradient(#444, #111);	*/
	/*background: linear-gradient(rgb(245, 7, 7), rgb(111, 209, 19));  /* ici pour changer la couleur des pages déroulantes de la barre de navigation */

	/*background: linear-gradient(rgb(157, 235, 215), rgb(2, 131, 236)); */

	background: linear-gradient(rgb(108, 185, 178), rgb(65, 146, 146)); 


	/*-moz-box-shadow: 0 -1px rgba(255,255,255,.3);
	-webkit-box-shadow: 0 -1px 0 rgba(255,255,255,.3);
	box-shadow: 0 -1px 0 rgba(255,255,255,.3);	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out; */
}

#menu li:hover > ul 
{
	opacity: 1;
	visibility: visible;
	margin:0;
}


#menu ul ul 
{
	top: 0; /* permet de régler le début de la nouvelle liste déroulante*/
	left: 150px; 		/* permet de disposer la deuxième liste déroulante sur la côté droite */
	/*margin: 0 0 0 0px;
	_margin: 0; */ /*IE6 only*/
	/*-moz-box-shadow: -1px 0 0 rgba(255,255,255,.3); 
	-webkit-box-shadow: -1px 0 0 rgba(255,255,255,.3);
	box-shadow: -1px 0 0 rgba(255,255,255,.3);		*/
	

}


/* les séparateurs de la liste déroulante */
#menu ul li 
{
	float: none;
	display: block;
	border: 0;
	_line-height: 0; /*IE6 only*/
	-moz-box-shadow: 0 1px 0 #111, 0 2px 0 #666;
	-webkit-box-shadow: 0 1px 0 #111, 0 2px 0 #666;
	box-shadow: 0 1px 0 #111, 0 2px 0 #666;



}


/*
#menu ul li:last-child 
{   
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;    
}
*/

#menu ul a 
{    
	padding: 10px;  /* reglage de la largeur de la case déroulante (verticale) */
	width: 130px; /* reglage de la longueur  de la case déroulante (horizontale) */
	_height: 10px; /*IE6 only*/
	
	display: block;
	white-space: nowrap;
	float: none;
	text-transform: none;
}


/* la couleur de l'élément de la liste déroulante quand le cureur le survole */
#menu ul a:hover 
{
	background-color: #51c0ec;
	/*background-image: -moz-linear-gradient(#04acec,  #0186ba);	
	background-image: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0186ba));
	background-image: -webkit-linear-gradient(#04acec, #0186ba);
	background-image: -o-linear-gradient(#04acec, #0186ba);
	background-image: -ms-linear-gradient(#04acec, #0186ba);
	background-image: linear-gradient(#04acec, #0186ba);*/

	/* tout semble fait la même chose*/
}




#menu ul li:first-child > a 
{
	-moz-border-radius: 3px 3px 0 0;
	-webkit-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
}


#menu ul li:first-child > a:after 
{
	content: '';
	position: absolute; /* chargé de la position du pointeur (généralement) */
	left: 40px; /* reglage du pointeur de la liste déroulante (horizontale vers la gauche)*/
	bottom: 30px; /* Reglage du pointeur de la liste déroulante (vertical vers le haut) */
	border-left: 6px solid transparent; /* affiche la moitié gauche du pointeur*/
	border-right: 6px solid transparent; /* affiche la moitié droite du pointeur*/
	border-top: 6px solid #444; /* chargé d'afficher le pointeur (générale) */
}


/* la liaison des deux listes déroulantes*/
#menu ul ul li:first-child a:after 
{
	left: 0px;
	
	top: 50%;
	margin-top: -6px; /* reglage le pointeur vers le haut ou bas*/
	border-left: 0;

	border-bottom: 6px solid transparent;
	border-top: 6px solid transparent;

	border-left: 6px solid #3b3b3b;
}


/*
#menu ul li:first-child a:hover:after 
{
	border-bottom-color: #04acec; 
}
*/

/*
#menu ul ul li:first-child a:hover:after 
{
	border-right-color: #0299d3; 
	border-bottom-color: transparent; 	
}

*/

/*
#menu ul li:last-child > a 
{
	-moz-border-radius: 0 0 3px 3px;
	-webkit-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
}
*/

/* reglage de la disposition de la page et la nav */
#page 
{
	
	margin : auto ;
	padding : 0.1em;
	width: 960px;
	margin: 60px auto;
	
}